<!DOCTYPE html>
<html>
<head>
  <title>Planning Poker</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="bower_components/pure/pure-min.css" />
</head>
<body>
<h1>Planning Poker</h1>
<div ng-controller="RoomCtrl">
  <h2>Room Name: {{room.name}}</h2>
  <h3>Members</h3>
  <ul>
    <li ng-repeat="member in members">
      {{member}}
    </li>
  </ul>
  <button ng-click="refreshMembers()">Refresh Members</button>

</div>
<div ng-controller="LatestMessagesCtrl">
  <h2>Debugging</h2>
  <h3>Latest Messages</h3>
  <button class="pure-button" ng-click="show()">Show</button>
  <button class="pure-button" ng-click="hide()">Hide</button>
  <ul ng-if="isVisible">
    <li ng-repeat="message in messages">
      {{message.from}} {{message.data | json}}
    </li>
  </ul>
</div>
<script src="bower_components/requirejs/require.js"></script>
<script src="js/main.js"></script>
</body>
</html>
