<!DOCTYPE html>
<html>
<head>
  <title>Planning Poker</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="bower_components/pure/pure-min.css" />
</head>
<body>
<h1>Planning Poker</h1>
<div ng-controller="RoomCtrl">
  <h2>Room Name: {{room.name}}</h2>
  <h3>Members</h3>
  <ul class="identicons">
    <li ng-repeat="member in members">
      <div identicon="{{member}}"></div>
    </li>
  </ul>
  <button class="pure-button" ng-click="refreshMembers()">Refresh Members</button>
</div>
<div ng-controller="PokerCtrl">
  <h2>Poker</h2>
  <button class="pure-button" ng-click="stage('picking')">Start Picking</button>
  <button class="pure-button" ng-click="stage('showing')">Show Picks</button>
  <div ng-show="stage() === 'picking'">
    <h3>Your Estimate</h3>
    <select ng-model="pick" ng-options="v for v in values"></select>
    <button class="pure-button pure-button-primary" ng-click="submit()">Submit</button>
  </div>
  <div ng-show="stage() === 'showing'">
    <h3>Picks</h3>
    <dl>
      <dt ng-repeat-start="(guid, pick) in picks">
        <div identicon="{{guid}}"></div>
      </dt>
      <dd ng-repeat-end>{{pick}}</dd>
    </dl>
  </div>
</div>
<script src="bower_components/requirejs/require.js"></script>
<script src="js/main.js"></script>
</body>
</html>
